<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu" style="position:absolute;top:80px;bottom:0;">
    <div class="menu_section">
        <ul class="nav side-menu">
            <li class="active">
                <a href="#"><img src="images/Dashboard-icon.svg"></img> Dashboard </a>
            </li>
            <li>
                <a href="#"><img src="~/Images/merchant.svg"></img> Merchants</a>
            </li>
            <li>
                <a href="#"><img src="~/Images/Customer.svg"> </img>Customer </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/Images/team.svg"></img>
                    Team Managment
                </a>
                <ul class="nav child_menu">
                    <li><a href="#">Create Role</a></li>
                    <li><a href="#">New User</a></li>
                </ul>
            </li>
            <li>
                <a><img src="~/Images/data.svg"></img> Data Presentation </a>
            </li>
            <li>
                <a><i class="fa fa-clone"></i>Layouts</a>
            </li>
        </ul>
    </div>
   

</div>
<!-- /sidebar menu -->